@import "css/bootstrap.css";

body {
  color: azure;
  font-family: "Roboto Mono", monospace;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /*background-image: url(fondo-3.jpg);*/
  background-color: #0A0F22;
  /*background: rgb(7,4,47);
  background: radial-gradient(circle, rgba(7,4,47,1) 0%, rgba(2,2,17,1) 20%, rgba(1,34,42,1) 100%);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section {
  border: 1px solid #56B2BB;
  border-radius: 10px;
  background-color: #1D2233;
  padding: 20px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-margin{
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.primary-bg-color{
  background-color: #0A0F22;
}

.secondary-bg-color{
  background-color: #1D2233;
}

.bv-bg-color{
  background-color: blueviolet;
}

.h-color{
  color:#F0F4F8;
}

.p-color{
  color:#BAC7CC;
}

.glass{
  background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

#web-title {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: azure;
}

.font-tmr {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.center-content {
  justify-content: center;
}

.center-text {
  text-align: center;
}

.link {
  color: aquamarine;
}

.justify-text {
  text-align: justify;
}

#logo-nav {
  width: 80px;
  margin-right: 30px;
}

#nav-list {
  list-style: none;
  display: flex;
  padding: 0;
}
#nav-list .nav-items {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
}
#nav-list .nav-items .link {
  color: aquamarine;
}

#banner-div {
  border: 2px solid white;
  height: 300px;
  margin: 10px;
}

#banner {
  width: 100%;
  height: 100%;
}

#threemage-div {
  padding: 20px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.threemage-type {
  width: 500px;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

.threemage-dim {
  width: 200px;
  height: 150px;
}

#div-main-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#div-main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#socials-text {
  width: 400px;
  margin: 40px;
}

#socials {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.socials-logo {
  width: 60px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.bottom-links {
  margin: 40px;
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*Pagina Nosotros*/
#aboutus-text {
  height: 600px;
  padding: 30px;
  padding-top: 80px;
  border: 2px solid black;
}

.highlight-p {
  color: red;
}

.aboutus-column-type {
  width: 200px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border: 2px solid black;
}

#aboutus-column {
  width: auto;
  height: auto;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutus-img {
  margin: 20px;
  width: 100px;
  height: 100px;
}

.worker-container {
  width: 300px;
  height: 400px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border: 2px solid burlywood;
}

.worker-img {
  margin: 20px;
  width: 100px;
}

.info-text {
  margin: 30px;
  padding: 20px;
  text-align: justify;
}

.galery-container {
  width: auto;
  height: auto;
  margin: 20px;
  border: 2px solid white;
}

.galery-img {
  width: 120px;
}

#map-img {
  width: 400px;
}

#map-margin {
  margin: 30px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  margin: 30px;
  text-align: center;
}

.contact-form-margin {
  margin: 20px;
}

.input-width {
  width: 200px;
}

#input-button {
  text-align: center;
}

#message-width {
  width: 200px;
  height: 150px;
}

.contact-socials-margin {
  margin-right: 30px;
}

.contact-socials-type {
  display: flex;
  align-items: center;
}

.contact-socials-img {
  width: 80px;
  margin: 30px;
}

/* Seccion Datos */
.data-section {
  padding: 20px;
  margin: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-text-1-3 {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

#data-text-2 {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.data-img-1-3 {
  width: 300px;
  margin: 160px;
}

#data-img-2 {
  width: 300px;
  margin-left: 160px;
}

/* Seccion Valores de la Web */
#princ-section {
  padding: 20px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: lightblue;
}

.princ-threediv {
  display: flex;
  flex-direction: column;
}

.sphere-div-8-6 {
  display: flex;
  border: 2px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 60px;
  margin-left: 150px;
  color: lightseagreen;
}

#sphere-div-7 {
  display: flex;
  border: 2px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 60px;
  margin-left: 70px;
}

#sphere-div-1 {
  display: flex;
  border: 2px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 70px;
  margin-left: 100px;
}

#sphere-div-5 {
  display: flex;
  border: 2px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 70px;
  margin-left: 100px;
}

#sphere-div-9 {
  display: flex;
  border: 2px solid white;
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.sphere-div-2-4 {
  display: flex;
  border: 2px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 60px;
  margin-right: 150px;
  color: lightseagreen;
}

#sphere-div-3 {
  display: flex;
  border: 2px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 60px;
  margin-left: 80px;
}

.l-sphere-content {
  margin-top: 20px;
  text-align: center;
}

#central-sphere-content {
  margin-left: 50px;
  margin-top: 140px;
  text-align: center;
}

/*Carrusel de Imagenes*/
:root {
  --cor-de-fundo: #2d3548;
  --cor-clara: rgba(255, 255, 255, 0.6);
  --cor-clara2: rgba(255, 255, 255, 0.9);
  --medida-espaco-8: 8px;
  --medida-espaco-16: 16px;
  --medida-espaco-24: 24px;
  --medida-espaco-32: 32px;
  --medida-espaco-64: 64px;
  --largura-caixa-geral: 1200px;
}

.conteudo__geral {
  align-items: flex-start;
  background-color: #212123;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--medida-espaco-64) var(--medida-espaco-24);
}

.conteudo__cartoes-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--medida-espaco-24);
  grid-row-gap: var(--medida-espaco-24);
  max-width: var(--largura-caixa-geral);
  width: 100%;
}

@media (min-width: 540px) {
  .conteudo__cartoes-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 960px) {
  .conteudo__cartoes-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.elemento__cartao {
  list-style: none;
  position: relative;
}

.elemento__cartao:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.elemento__cartao--fundo {
  background-size: cover;
  background-position: center;
  border-radius: var(--medida-espaco-24);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.elemento__cartao:hover .elemento__cartao--fundo {
  transform: scale(1.05) translateZ(0);
}

.conteudo__cartoes-grid:hover > .elemento__cartao:not(:hover) .elemento__cartao--fundo {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.elemento__cartao--conteudo {
  left: 0;
  padding: var(--medida-espaco-24);
  position: absolute;
  top: 0;
}

.elemento__cartao--texto-categoria {
  color: var(--cor-clara);
  font-size: 0.9rem;
  margin-bottom: var(--medida-espaco-8);
  text-transform: uppercase;
}

.elemento__cartao--texto-titulo {
  color: var(--cor-clara2);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}/*# sourceMappingURL=styles.css.map */

/*Meet our team*/

.team{
	position: relative;
	width: 100%;
	height: 90vh;
	/*background: radial-gradient(#281c3e,#0f051d);*/
  background-color: #0A0F22;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	color: #fff;
	font-size: 4rem;
	text-align: center;
}
.box{
	padding: 16px;
	/*background: #1b1229;*/
  background: #1D2233;
	border-radius: 15px;
	transition: all .38s ease;
  width: 300px;
  height:450px;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}

/*Testimonios*/

.container-testimonios {
	margin-top: 50px;
}
.t-card {
    width: 100%;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 500px;
    border: none;
    background-color: inherit;
}

.t-card .box {
    position: absolute;
    color: #BAC7CC;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: #1D2233;
    transform-style: preserve-3d;
    transition: 0.5s;
    backface-visibility: hidden;
}
.t-card .box.front{
    background-image: url(img/pattern.png);
    background-repeat: repeat;
}
.t-card .box.front,
.t-card .box.back {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.t-card .box.front img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
	border: 5px solid #262626;
	margin-bottom: 25px;
}

.t-card:hover .box.front {
    transform: rotateY(180deg);
}
.box.front h2 {
	font-family: 'Bebas Neue', cursive;
}
.box.front h4 {
	font-size: 18px;
	letter-spacing: 2px;
}
.socials i {
	margin: 0 15px;
}
.t-card .box.back {
    position: absolute;
    background: #1D2233;
    transform: rotateY(180deg);
    padding: 20px 30px;
    text-align: center;
    user-select: none;
}

.t-card .box.back .fa-quote-left {
	position: absolute;
	top: 25px;
	left: 180px;
	font-size: 3.2rem;
}

.t-card:hover .box.back {
    transform: rotateY(360deg);
}

@media(max-width: 991.5px) {
    .col-lg-4 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

/*Seccion Contactanos*/

.form-area {
	margin: 80px;
}
.row.single-form {
	box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}
.left {
	background: blueviolet;
	padding: 200px 98px;
}
.left h2 {
	font-family: poppins;
	color: #fff;
	font-weight: 700;
	font-size: 48px;
}
.left h2 span {
	font-weight: 100;
}
.single-form{
    background: #1D2233;
}
.right {
	padding: 70px 100px;
	position: relative;
}
.right i {
	position: absolute;
	font-size: 80px;
	left: -27px;
	top: 40%;
	color: #fff;
}
.form-control {
	border: 1px solid #fff;
}
.right button {
	border: none;
	border-radius: 0;
	background: blueviolet;
	width: 180px;
	color: #fff;
	padding: 15px 0;
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
}
.right button:hover{
    background-color: #252525;
}


/*responsive*/

@media (min-width:768px) and (max-width:991px){
    .right i {
	top: -52px;
	transform: rotate(90deg);
	left: 50%;
}
}

@media (max-width:767px){
    .left {
  padding: 90px 15px;
  text-align: center;
}
.left h2 {
  font-size: 25px;
}
.right {
  padding: 25px;
}
.right i {
  top: -52px;
  transform: rotate(90deg);
  left: 46%;
}
    .right button {
	width: 150px;
	padding: 12px 0;
}
    
}

/*Seccion Acerca de Nosotros*/

.container-aboutus{
  height: 400px;
}

/*Acordeon de FaQ*/

/* Cambia el color de fondo del encabezado del acordeón cuando está colapsado */
.accordion-button.collapsed {
  background-color: #1D2233;
}

/* Cambia el color de fondo del encabezado del acordeón cuando está expandido */
.accordion-button:not(.collapsed) {
  background-color: #1D2233;
}

/* Cambia el color de fondo del cuerpo del acordeón */
.accordion-body {
  background-color: #1D2233;
}

/*Nuevo footer*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.f-container{
	max-width: 1170px;
	margin:auto;
}
.f-row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.f-footer{
	background-color: #24262b;
    padding: 70px 0;
}
.f-footer-col{
   width: 25%;
   padding: 0 15px;
}
.f-footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
  margin-left: 30px;
	font-weight: 500;
	position: relative;
}
.f-footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.f-footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.f-footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.f-footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.f-footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.f-footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .f-footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .f-footer-col{
    width: 100%;
}
}

/*Index Admin*/

.divTabla {
  max-height: 100px;
  overflow-y: auto;
}






